@import url('http://fonts.googleapis.com/css2?family=Ranchers@display=swap');


body{
    background-image: url("https://export-download.canva.com/DAENemcyhvo/216/0/0001-13479837475.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJHKNGJLC2J7OGJ6Q%2F20201123%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20201123T041542Z&X-Amz-Expires=27999&X-Amz-Signature=fe4a40bed69438a68973adfd8e06893c1f613fb9e26ead1a0b1028dbf0812499&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%27Raymond%2520Dalio.png&response-expires=Mon%2C%2023%20Nov%202020%2012%3A02%3A21%20GMT");
    display: flex;
  align-items: flex-start;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  background-repeat:no-repeat;
}
.container {
    font-family: 'Ranchers', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    line-height: 1.6;
    height: 100vh;
    padding: 0 20px;
}

.logo {
    font-size: 5em;
    color: #FECB00;
    width: 400px;
    text-align: center;
    text-shadow:
        -5px -5px 0 white, 5px -5px 0 white, -5px 5px 0 white, 5px 5px 0 white;
}

h1 {
    color: white;
    text-align: center;
    margin: 20px;
}

#input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

input {
    margin: 30px;
    width: 200px;
    text-align: center;
    font-size: 1.3em;
    height: 2.5em;
}

#message {
    font-size: 1.5em;
    background-color: #296fe0;
    padding: 5px 15px;
    border-radius: 2px;
    text-align: center;
    display: none;
}

#lives-text {
    color: white;
}

img {
    width: 60%;
    max-width: 300px;
}

.button {
    background-color: #FE8500;
    margin: 30px 0;
    border-radius: 4px;
    min-width: 100px;
    padding: 10px 15px;
    text-align: center;
    font-size: 1.2em;
    color: white;
    cursor: pointer;
}


a{
    text-decoration: none;
    color: white;
    background-color: rgb(117, 50, 205);
    border: 2px solid rgb(222, 245, 244);
    padding: 30px 20px;
    position:absolute;
    margin-top: 650px;
    margin-left: 1450px;
    }